*{
    box-sizing: border-box;
}

body{
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px; 
    background: #DEF5FE; 
}

.container {
    width: 100%;
    max-width: 980px;
	margin: 0 auto;
	padding: 0px;
    position: relative;
}

/* filtrar */
.main .filter-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.main .filter-bar{
    background: #048ABF;
}

label{
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

input, select{
    border: 1px solid white;
    border-radius: 50px;
    background: transparent;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}
