* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  letter-spacing: 0.5px;
  background: #DEF5FE;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container{
  flex-flow: column;
}

.header {
  background: #1C2B59;
}

.header .menu-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  height: 157px;
}

.header .menu-nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  padding-left: 5px;
}

.header .menu ul {
  padding: 0;
  list-style: none;
}

.header .menu ul li {
  display: inline-block;
}

/*  main  */

.main {
  min-height: 70vh;
}

.main .filter-bar {
  background: linear-gradient(to right, #47bae7, #7de096);
}

.main .filter-bar label {
  font-size: 12px;
  color: white;
  text-align: center;
}

.main .filter-bar input,select {
  border: 1px solid white;
  border-radius: 50px;
  background: #FCFCFC;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  color: #333;
  font-size: 12px;
}

.main .filter-section {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.main .filter-section div {
  margin: 0 5px;
}

.main .filter-section .btn {
  margin-top: 15px;
}

.focus:focus {
  outline: none;
}

.btn:hover {
  background-color: rgb(255, 255, 255, .3);
  transition: color .5s ease;
  cursor: pointer;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}

.cards-section {
  display: flex;
}

.card {
  width: 130px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: rgb(248, 248, 255);
  padding: 15px;
  text-align: center;
  margin: 20px 10px;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
}

.cards-section .card h2 {
  display: inline;
  font-size: 15px;
}

.cards-section .card img {
  width: 100%;
}

.cards-section .card span {
  font-size: 12px;
}

.footer {
  width: 100%;
  background-color: #1C2B59;
  bottom: 0;
  position: relative;
  padding: 50px;
}

.footer .external-links {
  display: inline;
}

.icon {
  color: white;
  padding: 0 16px;
  align-self: end;
  text-align: end;
  font-size: 25px;
}

.icon:hover {
  color: rgb(255, 255, 255, .3);
  transition: color .3s ease;
}

.hover-menu a:hover {
  color: #CCCCCC;
  text-decoration: underline;
}

.hover-menu a {
  transition: color .3s ease;
}

.copy {
  text-align: center;
  color: white;
  margin: 16px;
}

.card:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 290px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: none;
  z-index: 200;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  visibility: hidden;
  transition: .5s;
  opacity: 1;
  padding: 15px;
}

.overlay {
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #333;
  display: none;
}

.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-close {
  color: #D94A4A;
  border: none;
  background-color: white;
  font-size: 150%;
  margin: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-close:hover {
  color: #ac3434;
  cursor: pointer;
}

.pop-up span {
  margin-bottom: 7px;
  text-align: center;
}

.next_evolution {
  text-align: center;
}

.name {
  font-weight: bolder;
  font-size: 20px;
  color: black
}

/*  PÁGINA SOBRE  */
.main .about-page .text-about {
  margin: 30px 30px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main .about-page .text-about h1,
h2 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main .about-page .text-about h1::after,
.main .about-page .text-about h2::after,
.main .text-about h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #f2be22;
  margin: 8px auto;
}

.main .about-page .img {
  width: 75px;
  margin: 0 auto;
}

.main .about-page .thank p {
  text-align: center;
}

.pikachu-logo {
  width: 10%;
}

.pikachu-logo-container {
  text-align: center;
}

.curiosity-title {
  text-align: center;
  font-size: 40px;
}

.about-page{
  padding: 10px;
}

@media only screen and (min-width: 560px) {
  .main .filter-bar label {
    font-size: 15px;
  }

  .cards-section .card {
    width: 140px;
    padding: 20px;
  }

  .main .filter-section .btn {
    margin: 0;
  }

  .curiosity-title {
    text-align: center;
    font-size: 40px;
  }
}

@media only screen and (min-width:768px) {
  .header .menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  .main .filter-bar label {
    font-size: 15px;
  }

  .cards-section .card {
    width: 150px;
    padding: 20px;
  }

  .main .about-page .text-about {
    flex-direction: row;
  }

  .main .about-page .text-about .column {
    display: block;
    width: 300px;
  }

  .main .about-page .text-about .left {
    text-align: end;
    margin-right: 30px;
  }

  .main .about-page .text-about .right {
    text-align: start;
    margin-left: 30px;
  }

  .curiosity-title {
    text-align: center;
    font-size: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .header .menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main {
    min-height: 90vh;
  }

  .main .filter-bar label {
    font-size: 20px;
  }

  .main .filter-bar input,
  select {
    padding: 8px;
    font-size: 12px;
  }

  .cards-section .card {
    width: 160px;
    padding: 25px;
  }

  .cards-section .card span {
    font-size: 15px;
  }

  .pop-up {
    width: 300px;
    height: 400px;
  }

  .footer {
    padding: 16px;
  }

  .main .about-page p {
    font-size: 20px;
  }

  .main .about-page .text-about .column {
    display: block;
    width: 400px;
  }

  .curiosity-title {
    text-align: center;
    font-size: 4em;
  }
}

