/* @font-face {
    font-family: "pokemon";
    src: url(fontes/Pokemon\ Hollow.ttf);
}
  
@font-face {
    font-family: "pokemonBold";
    src: url(fontes/Pokemon\ Solid.ttf);
} */

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    letter-spacing: 0.5px;
    background: #DEF5FE;
    display: flex;
    flex-flow: column;
}

.container {
    width: 100%;
    max-width: 980px;
	margin: 0 auto;
	padding: 0px;
    position: relative;
}

/*Header*/
.header {
    background: #1C2B59;
}

.header .menu-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu-nav a{
    text-decoration: none;
    margin: 30px 0;
}

.header .menu{
    margin-right: 20px;
}

.header .menu ul li{
    display: inline;
    list-style: none;
}

.header .menu ul li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-left: 5px;
}

/*main*/
.main {
    flex-grow: 1;
}

/* filtrar */
.main .filter-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.main .filter-bar{
    background: #048ABF;
}

label{
    font-size: 18px;
    color: white;
}

input, select{
    border: 1.5px solid white;
    border-radius: 50px;
    background: #FCFCFC;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    color: #333;
}

.focus:focus {
    outline: none;
}

.btn:hover{
    background-color: rgb(255, 255, 255, .3);	   
  transition:color .5s ease;	   
  cursor: pointer;
}


option{
    color: black;
}

.footer {
    width: 100%;
    background-color: #1C2B59;
    bottom: 0;
    padding: 16px;
  }
  
  .footer .container {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  
  .external-links {
    display: inline;
  }
  
  .icon {
    color: white;
    padding: 0 16px;
    align-self: end;
    text-align: end;
    font-size: 25px;
  }
  
  .icon:hover {
    color: rgb(255, 255, 255, .3);
    transition: color .3s ease;
  }
  
  .copy {
    color: white;
    flex-grow: 1;
  }
